<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find tmnt_qlearning)/config/turtlebot2_openai_qlearn_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="tmnt_qlearning" name="example_turtlebot2_maze_qlearn" type="my_start_qlearning_maze.py" output="screen"/>
</launch>